<a href="https://colab.research.google.com/github/IlyasNasirov/notebook/blob/main/10_MA%CA%BCLUMOTLARGA_ISHLOV_BERISH_10_25_YAKUNIY_AMALIY_VAZIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#**10-modul. Ma始lumotlarga ishlov berish. Fayllar va ma始lumotlar ombori**

#**10.25. Modul bo驶yicha yakuniy amaliy vazifa**

**Amaliyotni bajargach, fayllar bilan ishlash, API va veb sahifalardan malumot olish, SQL so驶rovlarini yozish va malumotlar omboriga malumot saqlash ko驶nikmalariga ega bo驶lasiz.**

#**Fayldan o驶qish va yozish**

#**1) CSV fayldan ma始lumotlarni oqish**
* https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/data_date.csv havolasidagi ma始lumotlarni `df` o驶zgaruvchisiga saqlang!
* `df` dan tasodifiy 10 ta qatorni ekranga chiqaring!

In [ ]:
#javobni shu yerda yozing.

#**2) CSV fayliga yozish**
* Quyidagi ma始lumotlardan dataframe yarating va uni `people_data.csv` fayliga saqlang.
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```
* Quyidagi ma始lumotlardan yana bir dataframe yarating va uni `people_data_2.csv` fayliga saqlang.
```
{
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35]
}
```

In [ ]:
#javobni shu yerda yozing.

#**3) HDF5 formati bilan ishlash**
* Yuqorida yaratgan dataframe始laringizni `people.h5` faylida saqlang.
* `people.h5` faylidagi barcha jadvallarni o驶qing!

In [ ]:
#javobni shu yerda yozing.

#**4) JSON fayllar bilan ishlash**
1. Quyidagi ma始lumotlarni dataframe ko驶rinishida o驶qing va uni `data.json` fayliga yozing!
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```

In [ ]:
#javobni shu yerda yozing.

#**5) API始lar bilan ishlash**
1. Quyida berilgan API 17 mingdan ortiq kriptovalyutalarning dollarga nisbatan narxi haqidagi ma始lumotlarni saqlaydi. Siz esa endi:
  * API orqali barcha ma始lumotlarni yig驶ib oling;
  * ularni dataframe ko驶rinishida saqlang;
  * ma始lumotlar boshidan 5 ta qatorni ekranga chiqaring;
  * ma始lumotlar ichidan `bitcoin` ni izlab toping!

In [ ]:
coins_url = "https://api.coingecko.com/api/v3/coins/list"
#javobni shu yerda yozing.

#**6) API始lar bilan ishlash**
1. Yuqorida berilgan kriptovalyuta ma始lumotlaridan `id` ustunini ro驶yxat ko驶rinishida saqlang va bu ro驶yxatga `coin_ids` deb nom bering.
2. https://api.coingecko.com/api/v3/simple/price?ids={coin_ids}&vs_currencies=usd havolasi orqali kriptovalyutalarning `usd` ga nisbatini oling (birinchi 100 ta ma始lumotni olish yetarli).
3. 2-shartda berilgan link orqali olingan ma始lumotlarni dataframe ko驶rinishida saqlang. Bunda uning indeksi va `usd` ustuni bo驶lsin. `index` -> kriptovalyutalar nomi, `usd` -> narxi

#**Ishora:** linkdagi `{coin_ids}` o驶zgaruvchi sifatida yozilgan. Siz ham 1-shartda saqlagan `coin_ids` o驶zgaruvchingizni shu qismda yozib keting!

In [ ]:
coin_ids = #Bu yerda kriptovalyutalar nomi saqlangan ro驶yxat (list) bo驶lishi kerak.
price_url = f"https://api.coingecko.com/api/v3/simple/price?ids={coin_ids}&vs_currencies=usd"
#javobni shu yerda yozing.

#**7) Veb sahifadan o驶qish**
1. Pandas yordamida veb sahifadagi jadvalni yuklab oling.
2. Malumotlarni dataframe korinishida chiqaring.
3. Agar sahifada bir nechta jadval bolsa, eng muhimini tanlang.
4. Malumotni tozalang (bosh qatorlarni olib tashlang, kerakli ustunlarni tanlang).
5. Natijani CSV faylga saqlang.

***Eslatma: manba sifatida o驶zingiz istagan veb sahifani tanlang. Bu vazifada mustaqil izlanishni o驶rganasiz!***

In [ ]:
#javobni shu yerda yozing.

# **Ma始lumotlar ombori bilan ishlash**

#**8) Ma始lumotlar omborini yuklash va ulanish**
1. https://github.com/alishermutalov/praktikum-datasets/blob/praktikum/chinook.db havolasi orqali ma始lumotlar omborini yuklab oling.
2. Yuklab olingan ma始lumotlar omboriga sqlite3 moduli yordamida **ulaning**.

In [ ]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip "chinook.zip"

In [ ]:
#javobni shu yerda yozing.

#**9) Ma始lumotlar omboriga so驶rov yuborish**
1. Jadvallar ro驶yxatini ko驶ring. Ularning ichida `albums` jadvali bo驶lsa, shu jadvaldagi barcha ma始lumotlarni (qatorlarni) ekranga chiqaring.
2. Qatorlar soni nechta ekanini aniqlab, uni ham ekranga chiqaring.
3.`albums` jadvalining ustunlari haqidagi ma始lumotlarni ekranga chiqaring.

In [ ]:
#javobni shu yerda yozing.

#**10) SQL to DataFrame**
1. `albums` jadvalini `pandas.DataFrame` ga o驶tkazing!

In [ ]:
#javobni shu yerda yozing.

#**11)**  `chinook.db` ma始lumotlar omboridan `tracks` jadvalining birinchi 10 ta qatorini ekranga chiqaring

#Ishora: LIMIT

In [ ]:
#javobni shu yerda yozing.

#**12)**`tracks` jadvalidan faqat `Name`, `Composer` ustunlarini tanlab oling!

In [ ]:
#javobni shu yerda yozing.

#**13) ORDER BY , DISTINCT**
* `tracks` jadvalidagi takrorlanmaydigan `GenreId` qiymatlarini oling.
* `tracks` jadvalidagi treklarni `Milliseconds` ustuni boyicha kamayish tartibida saralang.

#Ishora: ORDER BY , DISTINCT

In [ ]:
#javobni shu yerda yozing.

#**14) Filtering**
 * `invoices` jadvalidan `Total` summasi 10 dan katta bolgan ma始lumotlarni tanlang.

# Ishora: WHERE

In [ ]:
#javobni shu yerda yozing.

#**15) CREATE and INSERT**
* `chinook.db` ma始lumotlar omboriga `users` jadvali yarating. Jadval maydonlari (ustunlar):
  * `id`
  * `name`
  * `birth_date`
* Yaratilgan `users` jadvaliga quyidagi ma始lumotlarni qo驶shing:

    * ```
    [
    ('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22),
    ('Frank', 40), ('Grace', 27), ('Hannah', 32), ('Ivy', 29), ('Jack', 31),
    ('Kevin', 33), ('Liam', 26), ('Mia', 24), ('Noah', 36), ('Olivia', 23),
    ('Peter', 39), ('Quinn', 37), ('Rachel', 34), ('Samuel', 41), ('Tina', 21)
]
 ```

#Ishora: CREATE TABLE, INSERT

In [ ]:
#javobni shu yerda yozing.

#**16) UPDATE and DELETE**
* `users` jadvalidagi Alice ismli foydalanuvchining yoshini yangilang.
* `users` jadvalidan Alice ismli foydalanuvchini ochiring.

In [ ]:
#javobni shu yerda yozing.

#**17) f-string yordamida SQL komandalarini yozish**
* `customers` jadvalidan `FirstName` va `LastName` boyicha qidiruv qiladigan f-string yozing.

In [ ]:
#javobni shu yerda yozing.

#**18)  AND and OR operators**

* `invoices` jadvalidan `BillingCountry` Germaniya yoki Fransiya bo驶lgan va `Total` summasi 5 dan katta bolgan kerakli qatorlarni tanlang.

#Ishora: AND, OR

In [ ]:
#javobni shu yerda yozing.

#**19) BETWEEN and LIKE**

* `invoices` jadvalidan `Total` summasi 5 dan 15 gacha bolgan qatorlarni tanlang.
* `customers` jadvalidan ismi `A` harfi bilan boshlanadigan foydalanuvchilarni tanlang.

In [ ]:
#javobni shu yerda yozing.

#**20) DataFrame to SQL**
* Quyidagi ma始lumotlardan dataframe yarating.
  ```
  sales_data = {
    "sale_id": list(range(1, 21)),  # 1 dan 20 gacha bo驶lgan unikal ID始lar
    "product_name": [
        "Laptop", "Smartphone", "Tablet", "Headphones", "Smartwatch",
        "Monitor", "Keyboard", "Mouse", "Printer", "Camera",
        "Speaker", "Game Console", "TV", "Router", "Power Bank",
        "Hard Drive", "USB Flash", "Graphics Card", "Microphone", "VR Headset"
    ],
    "quantity": [2, 5, 3, 10, 4, 6, 8, 12, 3, 5, 7, 9, 4, 2, 11, 6, 15, 1, 3, 2],
    "price": [1200, 800, 450, 200, 300, 500, 100, 50, 250, 700,
              150, 400, 1000, 90, 60, 110, 30, 1500, 80, 600],
    "sale_date": [
        "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-04", "2025-03-05",
        "2025-03-06", "2025-03-07", "2025-03-08", "2025-03-09", "2025-03-10",
        "2025-03-11", "2025-03-12", "2025-03-13", "2025-03-14", "2025-03-15",
        "2025-03-16", "2025-03-17", "2025-03-18", "2025-03-19", "2025-03-20"
    ]
}
```
*Yuqoridagi ma始lumotlar asosida yaratgan dataframe始ingizdan SQL jadvali tuzing va uni `sales` deb nomlang.

In [ ]:
#javobni shu yerda yozing.